name: Integration tests

on: [push, pull_request]

jobs:
  integration-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    env:
      BUNDLE_JOBS: 4
      BUNDLE_RETRY: 3
    strategy:
      fail-fast: false
      matrix:
        ruby: [2.6, 2.7, 3.0, 3.1, 3.2]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Start localstack
        run: docker compose -f "integration/docker-compose.yml" up --detach

      - name: Setup cache
        uses: actions/cache@v4
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-ruby-${{ matrix.ruby }}-gems-${{ hashFiles('**/Gemfile.lock') }}-${{ hashFiles('**/*.gemspec') }}
          restore-keys: |
            ${{ runner.os }}-ruby-${{ matrix.ruby }}-gems-

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: Run Bundler
        run: |
          gem install bundler -v 2.1.4
          bundle config path vendor/bundle
          bundle install

      - name: Run integration tests
        run: bundle exec rake test:integration

      - name: Stop localstack
        if: always()
        run: docker compose -f "integration/docker-compose.yml" down
